{% extends 'base.html' %}
{% block title %}
    <title>Online-shop</title>
{% endblock %}
{% block content %}
   <div class="card mb-3" style="max-width: 540px;">
   {% for product in products %}
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ product.title}}</h5>
        <p class="card-text">{{ product.category }}</p>
          <p class="card-text">{{ product.price }}</p>
          <a href="{% url 'products_detail' product.pk %}" ><small class="text-body-secondary">see more>>> </small></a>

      </div>
    </div>
  </div>
   {% endfor %}
</div>
{% endblock %}
