{% extends 'base.html' %}
{% block title %}
    <title>Online-shop</title>
{% endblock %}

{% block content %}
<div class="row">
    {% for product in products %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img src="{{product.image}}" class="card-img-top" alt="..." style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title}}</h5>
                    <p class="card-text">{{ product.category.name }}</p>
                    <p class="card-text"><strong>{{ product.price }} $</strong></p>
                    <a href="{% url 'product_details' product.pk %}" class="btn btn-primary btn-sm">Подробнее</a>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="col-12">
            <div class="alert alert-info text-center">
                <h4>Товары не найдены</h4>
                <p>Добавьте первый товар в магазин</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}