{% extends 'base.html' %}
{% block title %}
    <title>{{ product.title }}</title>
{% endblock %}

{% block content %}
    <div class="article">
        <div class="col-md-4">
            <img src="{{ product.image }}" class="img-fluid rounded-start" alt="...">
        </div>
        <h1>Название - {{ product.title }}</h1>
        <p>Компания - {{ product.category }}</p>
        <p>Описание - {{ product.description }}</p>
        <p>Цена - {{ product.price }} $</p>
        <p>Дата создания - {{ product.created_at }}</p>

        <hr/>
    </div>
{% endblock %}