{% extends 'base.html' %}
{% block title %}
    <title>Create PRODUCTS</title>
{% endblock %}
{% block nav %}
{% endblock %}
{% block content %}

    <h1>Add Product</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label>Title:</label><br/>
        <input type="text" name="title"/><br/>
        <label>Text:</label><br/>
        <textarea name="description"></textarea><br/>
        <label>Price:</label><br/>
        <input type="number" name="price"/><br/>
        <label>Image:</label><br/>
        <input type="file" name="image"/><br/><br>

        <select name="catigory_id" id="">
            {% for category in categories %}
                <option value="catigory.id">{{ category.name }}</option>
            {% endfor %}
        </select><br><br>

<input type="submit" value="Send"/>
    </form>
{% endblock %}