{% extends 'base.html' %}
{% block title %}
    <title>{{ product.title }}</title>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ product.image }}" class="img-fluid rounded-start h-100" alt="..." style="object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text"><strong>Компания:</strong> {{ product.category.name }}</p>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text"><strong>Цена: {{ product.price }} $</strong></p>
                        <p class="card-text"><small class="text-muted">{{ product.created_at }}</small></p>
                      <div class="btn-group mb-3" role="group">
                            <a href="{% url 'product_edit' product.pk %}" class="btn btn-warning">Редактировать</a>
                            <a href="{% url 'product_delete' product.pk %}" class="btn btn-danger"
                               onclick="return confirm('Вы уверены, что хотите удалить этот товар?')">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
